<div>
  <h1 class="headers">Edit your Prop</h1>
  <div class="col-md-6 offset-md-3">
    <%= simple_form_for @prop do |f| %>
      <%= f.input :name %>
      <%= f.input :price %>
      <%= f.input :description %>
      <%= f.input :category, collection: %w[vehicles accessories weapons clothing other] %>
      <%= f.input :photo, as: :file %>

      <div class="form-actions">
        <%# <%= link_to "Cancel", show_path, class: "btn btn-outline-secondary btn-lg me-2" %> 
        <%= f.submit class: "my-button" %>
      </div>
    <% end %>
  </div>
  <%# copy in the form from lists project and check with teacher  %>
</div>


<div>
<%= link_to 'Show this prop', @prop %> |
<%# <%= link_to 'Back to all props', posts_path %>
</div>
