<div class="d-flex text-center items-center justify-content-center">
  <h1 class="my-4">LIST OF PROPS </h1>
</div>

<div class="container text-center props-container">
  <% @props.each do |prop| %>

    <div class="index-card-body headers rounded m-4">
      <div index="description">
        <p>
        <%# if there's an image, add the link to the image  %>
        <% if prop.photo.attached? %>
          <%= link_to prop_path(prop) do %>
          <%=cl_image_tag prop.photo.key, height: 180, width: 350, crop: :fill %>
          <% end %>
        <%# if not, add the link to the prop %>
        <% else %>
          <%= link_to prop_path(prop) do %>
          <i class="fa-solid fa-broom fa-5x fa-border"></i>
          <% end %>
        <% end %>
        <p> <%= prop.description %></p>
      </div>

        <div>
          <p class="body">Name: <%= prop.name %></p>
          <p class="body">Price<%= prop.price %></p>
          <p class="body">Category<%= prop.category %></p>
        </div>
    </div>
  <% end %>
</div>
