<div class="d-flex text-center items-center justify-content-center">
  <h1 class="headers my-4">LIST OF PROPS </h1>
</div>

<div class="container text-center props-container">
  <% @props.each do |prop| %>
    <%= link_to prop_path(prop) do %>
      <div class="card-body headers rounded m-4">
        <div index="description">
          <%=cl_image_tag prop.photo.key, height: '180', width: '350', crop: :fill %>
          <p><%= prop.description %></p>
        </div>

        <div>
          <p class="body">Name: <%= prop.name %></p>
          <p class="body">Price<%= prop.price %></p>
          <p class="body">Category<%= prop.category %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
