<div>
  <h1>List Your Prop!</h1>
  <div class="col-md-6 offset-md-3">
    <%= simple_form_for @prop do |f| %>
      <%= f.input :name %>
      <%= f.input :price %>
      <%= f.input :description %>
      <%= f.input :category, collection: %w[vehicles accessories weapons clothing other] %>
      <%= f.input :photo, as: :file %>


      <div class="form-actions">
        <%= link_to "Cancel", root_path, class: "btn btn-light" %>
        <%= f.submit class: "btn btn-outline-primary" %>
      </div>
    <% end %>
  </div>
  <%# copy in the form from lists project and check with teacher  %>
</div>
