<div class="container text-center props-container">
<% @props.each do |prop| %>
<div class="card-body headers rounded m-4 gradient">
  <h3 class="headers"><%= prop.name %></h3>
  <p><%= cl_image_tag prop.photo.key, height: 300, width: 400, crop: :fill, class: "img-border" %></p>
  <p>Owner: <%= prop.user.username %></p>
  <p><%= prop.price %>€</p>
  <p> Category: <%= prop.category %></p>
  <p> <%= prop.description %></p>
</div>

<% end %>
</div>
