<% @props.each do |prop| %>
<div>
  <h3><%= prop.name %></h3>
  <p>Owner: <%= prop.user.username %></p>
  <p><%= prop.price %>€</p>
  <p> Category: <%= prop.category %></p>
  <p> <%= prop.description %></p>
  <p>  <%= cl_image_tag prop.photo.key, height: 300, width: 400, crop: :fill %> </p>
</div>

<% end %>
