<div class="heading-container">
  <div class="d-flex justify-content-center mt-5">
    <h1 class="text-center"><%= @prop.name %></h1>
  </div>
</div>

    <div class="top-show-container show-spacing">
      <div class="left-show-container show-margin">
        <% if @prop.photo.attached? %>
          <%= cl_image_tag @prop.photo.key, height: 500, width: 700, crop: :fill, class: "show-card" %>
        <% else %>
          <i class="fa-solid fa-broom fa-5x fa-border"></i>
        <% end %>
      </div>
      <div class="righ-show-container">
        <div class="show-card-body show-card-spacing gradient">
          <h2> About </h2>
          <br>
          <h5 class="headers card-title">Price</h5>
          <p class="card-text"> <%= @prop.price %>€ per day</p>
          <h5 class="headers card-title">Category</h5>
          <p class="card-text"> <%= @prop.category %> </p>


          <div class="card text-white bg-dark mb-3 p-2 col-10 mx-auto date-form">
            <%= simple_form_for [@prop, @booking] do |f| %>
            <%= f.input :start_date, html5: true, class: "start-date-form" %>
            <%= f.input :end_date, html5: true, class: "end-date-form" %>
            <%= f.submit "Book now!", class: "btn btn-success" %>
          <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="show-description">
      <h2>Description</h2>
      <p class="card-text"> <%= @prop.description %></p>
    </div>

    <div class="bottom-show-container gap-5">
      <button href="#" class="btn btn-outline-primary"> <%= link_to "Edit this prop", edit_prop_path(@prop) %> </button>
      <br>
      <button href="#" class="btn btn-outline-primary"> <%= link_to "Back to all props", props_path %> </button>
      <br>
      <%= button_to "Delete this prop", @prop, method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } }, class: "btn btn-outline-danger" %>
    </div>
  </div>
</div>
